

__pycache__/ClienteGUI.cpython-311.pyc
__pycache__/RtpPacket.cpython-311.pyc
__pycache__/VideoStream.cpython-311.pyc

__pycache__/ClienteGUI.cpython-38.pyc
__pycache__/VideoStream.cpython-38.pyc
__pycache__/RtpPacket.cpython-38.pyc
